<style>
body {background-color: #baffea; text-align: center;}
h1   {color: #09097c; text-align: center;}
p    {color: 474756; font-family: verdana; text-align: center;}
</style>

<h1>I'm Jessica Yeh</h1>
<p>I'm Jessica and I'm a sophomore EECS student</p>
<p>Born and raised in San Mateo in the Bay Area</p>
<p>I really like to eat food, especially mozzarella sticks.</p>
<p>Teaching is really fun too!<p>
<p>I love cats - this is my cat Rocky<p>
<%= image_tag("rocky.png", :alt => "a very fat cat") %>
<p>She's fat and perfect.</p>